---
# This playbook install all the necessary packages for Domjudge
- name: Installing the necessary Software
  apt:
    name: "{{ item }}"
    state: latest 
    update_cache: yes
  loop:
    - libcgroup-dev
    - make
    - acl
    - zip
    - unzip
    - mariadb-server
    - apache2
    - php
    - php-fpm
    - php-gd
    - php-cli
    - php-intl
    - php-mbstring
    - php-mysql
    - php-curl
    - php-json
    - php-xml
    - php-zip
    - composer
    - ntp
    - gcc
    - pkg-config
    - build-essential
    - python3-mysqldb
    - debootstrap
    - lsof
    - procps
    - python3-yaml

- name: Removing apport to resolve possible conflicts with judging
  ansible.builtin.package:
    name: apport
    state: absent
    update_cache: yes
